/* Footer con degradado */
.footer-degradado {
    background: linear-gradient(to right, #f04a23, #4a89f3); /* Degradado de colores */
    color: white; /* Texto blanco por defecto */
    padding: 20px 0;
}

    .footer-degradado a {
        color: #ffffff; /* Enlaces en blanco */
        text-decoration: none; /* Quitar subrayado */
    }

        .footer-degradado a:hover {
            color: #ffd700; /* Color dorado al pasar el mouse */
            text-decoration: underline; /* Subrayado en hover */
        }

    .footer-degradado .text-muted {
        color: #ffffff !important; /* Texto blanco para derechos reservados */
    }
